@model IEnumerable<FilmBase.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{

    <table id="customersList" class="table table-bordered table-striped table-hover responsive " style="width:100%">
        <thead>
            <tr>
                <th>
                    Customer Name
                </th>
                <th>
                    Birth Date
                </th>
                <th>
                    Membership Type
                </th>
                <th>
                    Membership Duration
                </th>
                <th>
                    Discount Rate
                </th>
                <th>
                    Subs. to News
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)
                    </td>
                    <td>
                        @if (customer.BirthDate.HasValue)
                        {
                            @customer.BirthDate.Value.ToString("dd.MM.yyyy")
                        }
                    </td>
                    <td>
                        @customer.MembershipType.Name
                    </td>
                    <td>
                        @(customer.MembershipType.DurationInMonths < 1 ? "-" : customer.MembershipType.DurationInMonths == 1 ? "1 Month" : customer.MembershipType.DurationInMonths.ToString() + " Months")
                    </td>
                    <td>
                        @customer.MembershipType.DiscountRate%
                    </td>
                    <td>
                        @(customer.IsSubscribedToNewsletter == false ? "No" : "Yes")
                    </td>
                </tr>
            }
        </tbody>
    </table>


}


@section scripts {
       <script>
           $(document).ready(function () {
               var dataTable = $('#customersList').DataTable({
                   pageLength: 5,
                   fixedColumns: true,
                   //responsive: {
                   //    breakpoints: [
                   //        { name: 'mobile-l', width: 480 },
                   //    ]
                   //},
                   //iDisplayLength: 50,
                   "columns": [
                       { width:"30%", "data": "name", className: 'all' },
                       { "data": "birth_date", className: 'desktop' },
                       { "data": "membership_type", className: 'desktop' },
                       { "data": "membership_duration", className: 'desktop' },
                       { "data": "discount_rate", className: 'desktop' },
                       { "data": "subscribed_to_newsletter", className: 'desktop' },
                   ],
                   "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
                   language: {
                       search: "_INPUT_",
                       searchPlaceholder: "Search...",
                   }
                   //"deferRender": true

                   //"columnDefs": [
                   //    { className: 'mobile-l', targets: [1,2,3,4,5] }
                   //    ]

               });

           });
       </script>
}